In [1]:
# Dependencies
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import json
import numpy as np
import time
import datetime
from iex import Stock

#import config 
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [2]:
# Twitter API Keys
consumer_key = "rEHjAMU0Srd1zNNzj24cAu2Od"
consumer_secret = "QGULbDQWFfG2U0JKR8px2K1uO5e6axvTtiJ491MhHA2xIYbAsS"
access_token = "2560678537-ErGKl2Ct61tnywxITovHtBPraZrlcnM0IBqDmoG"
access_token_secret = "cHdDA6vdA1Zzn7Is7poAis1yckA9wSSqDzvNBjSvOv78b"

# Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [3]:
# Create columns for dataframe
tweets_table = {'Tweet Number': '',
              'Tweet': '',
              'Compound Score': '',
              'Positive Score': '',
              'Negative Score': '',
              'Neutral Score': ''}

In [4]:
# Create list of news accounts
target_terms = ['@ElonMusk']

In [5]:
# Variable to hold list of the compound sentiment
compound_list = []
positive_list = []
negative_list = []
neutral_list = []
tweet_number = []
text = []
created =[]
# Loop through all target users
for target in target_terms:
        
    # Run search around each tweet(Upto max of 200 tweets at once)
    screen_name = target
    public_tweets = api.user_timeline(target,
                                      count=200,result_type ="recent")
    
    # Index to see how many tweets for each news source
    index = 0
        
    # Loop through all tweets
    for tweet in public_tweets:
        
        news_organization = target
            
        # Run vader analysis on each tweet
        scores = analyzer.polarity_scores(tweet['text'])
        compound = scores['compound']
        pos = scores['pos']
        neu = scores['neu']
        neg = scores['neg']
            
        # Add value to list
        compound_list.append(compound)
        positive_list.append(pos)
        negative_list.append(neg)
        neutral_list.append(neu)
        text.append(tweet['text'])
        tweet_number.append(index)
        tweet_date = datetime.datetime.strptime(tweet["created_at"], "%a %b %d %H:%M:%S %z %Y")
        convert_time = datetime.datetime.strftime(tweet_date, '%m/%d/%Y')
        created.append(convert_time)
        index = index + 1

In [6]:
len(public_tweets)

200

In [7]:
# Add values from list to dataframe
tweets_table['Tweet Number'] = tweet_number
tweets_table['Tweet'] = text

tweets_table['Compound Score'] = compound_list
tweets_table['Positive Score'] = positive_list
tweets_table['Negative Score'] = negative_list
tweets_table['Neutral Score'] = neutral_list
tweets_table['date'] = created
tweets_table = pd.DataFrame(tweets_table)
tweets_table.to_csv('sentimentsnewsmedia.csv')
tweets_table.head()

,Tweet Number,Tweet,Compound Score,Positive Score,Negative Score,Neutral Score,date
0,0,RT @Tesla: 4/Mobile app: start software update...,0.0000,0.000,0.000,1.000,10/05/2018
1,1,RT @Tesla: 3/ New apps: there is now a web bro...,0.2732,0.110,0.000,0.890,10/05/2018
2,2,RT @Tesla: 2/ Dashcam: record and store video ...,0.0000,0.000,0.000,1.000,10/05/2018
3,3,@martyeuler @MebFaber Fair point ðŸ˜€,0.5859,0.545,0.000,0.455,10/05/2018
4,4,@MebFaber When something sounds too good to be...,0.7906,0.311,0.045,0.644,10/05/2018

In [8]:
# Get timestamp
present_date = time.strftime("%m/%d/%Y")
present_date

'10/05/2018'

In [9]:
#Stock Data 

tsla = Stock("TSLA")
tsla.book()

https://api.iextrading.com/1.0/stock/TSLA/book

{'quote': {'symbol': 'TSLA',
  'companyName': 'Tesla Inc.',
  'primaryExchange': 'Nasdaq Global Select',
  'sector': 'Consumer Cyclical',
  'calculationPrice': 'close',
  'open': 274.65,
  'openTime': 1538746200301,
  'close': 261.95,
  'closeTime': 1538769600365,
  'high': 274.88,
  'low': 260,
  'latestPrice': 261.95,
  'latestSource': 'Close',
  'latestTime': 'October 5, 2018',
  'latestUpdate': 1538769600365,
  'latestVolume': 17617689,
  'iexRealtimePrice': 261.99,
  'iexRealtimeSize': 100,
  'iexLastUpdated': 1538769599723,
  'delayedPrice': 261.95,
  'delayedPriceTime': 1538769600365,
  'extendedPrice': 262.61,
  'extendedChange': 0.66,
  'extendedChangePercent': 0.00252,
  'extendedPriceTime': 1538773196571,
  'previousClose': 281.83,
  'change': -19.88,
  'changePercent': -0.07054,
  'iexMarketPercent': 0.04257,
  'iexVolume': 749985,
  'avgTotalVolume': 9880010,
  'iexBidPrice': 0,
  'iexBidSize': 0,
  'iexAskPrice': 0,
  'iexAskSize': 0,
  'marketCap': 44686874071,
  'peRatio': -16.54,
  'week52High': 387.46,
  'week52Low': 244.5901,
  'ytdChange': -0.19127752846847407},
 'bids': [],
 'asks': [],
 'trades': [{'price': 261.99,
   'size': 100,
   'tradeId': 1111065265,
   'isISO': True,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769599723},
  {'price': 261.91,
   'size': 94,
   'tradeId': 1111003004,
   'isISO': False,
   'isOddLot': True,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769599382},
  {'price': 261.945,
   'size': 100,
   'tradeId': 1110936013,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769599036},
  {'price': 261.97,
   'size': 100,
   'tradeId': 1110887721,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769598971},
  {'price': 261.935,
   'size': 100,
   'tradeId': 1110879460,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769598959},
  {'price': 261.935,
   'size': 600,
   'tradeId': 1110877516,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769598956},
  {'price': 261.92,
   'size': 100,
   'tradeId': 1110772303,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769598368},
  {'price': 261.96,
   'size': 173,
   'tradeId': 1110547695,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769597510},
  {'price': 261.95,
   'size': 700,
   'tradeId': 1110545215,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769597500},
  {'price': 261.95,
   'size': 800,
   'tradeId': 1110543571,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769597490},
  {'price': 261.95,
   'size': 100,
   'tradeId': 1110543564,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769597490},
  {'price': 261.94,
   'size': 200,
   'tradeId': 1110541678,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769597478},
  {'price': 261.925,
   'size': 100,
   'tradeId': 1110443708,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769597103},
  {'price': 261.94,
   'size': 100,
   'tradeId': 1110270876,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769596207},
  {'price': 261.94,
   'size': 200,
   'tradeId': 1110270471,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769596204},
  {'price': 261.94,
   'size': 100,
   'tradeId': 1110269537,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769596200},
  {'price': 261.94,
   'size': 100,
   'tradeId': 1110269336,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769596199},
  {'price': 261.94,
   'size': 200,
   'tradeId': 1110269248,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769596198},
  {'price': 261.94,
   'size': 100,
   'tradeId': 1110268807,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769596195},
  {'price': 261.945,
   'size': 100,
   'tradeId': 1110267896,
   'isISO': False,
   'isOddLot': False,
   'isOutsideRegularHours': False,
   'isSinglePriceCross': False,
   'isTradeThroughExempt': False,
   'timestamp': 1538769596187}],
 'systemEvent': {'systemEvent': 'C', 'timestamp': 1538773800011}}

In [10]:
#TSLA Data for the past year

tsla_df = tsla.chart_table(range='6m')
tsla_df.head()

https://api.iextrading.com/1.0/stock/TSLA/chart/6m

,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
0,19.41,0.000000,7.255,286.94,2018-04-04,288.37,"Apr 4, 18",252.00,252.78,19896746,19896746,274.4791
1,18.78,0.065449,6.545,305.72,2018-04-05,306.26,"Apr 5, 18",288.20,289.34,19121101,19121101,298.5066
2,-6.42,0.043075,-2.100,299.30,2018-04-06,309.28,"Apr 6, 18",295.50,301.00,13520286,13520286,301.6267
3,-9.64,0.009479,-3.221,289.66,2018-04-09,309.50,"Apr 9, 18",289.21,300.37,10249805,10249805,299.7052
4,15.04,0.061894,5.192,304.70,2018-04-10,307.10,"Apr 10, 18",293.68,298.97,11024259,11024259,302.6414

In [11]:
clean_tsla= tsla_df[["change","changePercent","close","date","high","low","open"]]

In [12]:
clean_tsla.shape
clean_tsla.tail()

     change  changePercent   close        date    high      low    open
124  -42.75        -13.902  264.77  2018-09-28  278.00  260.555  270.26
125   45.93         17.347  310.70  2018-10-01  311.44  301.050  305.77
126   -9.68         -3.116  301.02  2018-10-02  316.84  299.150  313.95
127   -6.22         -2.066  294.80  2018-10-03  304.60  291.570  303.33
128  -12.97         -4.400  281.83  2018-10-04  294.00  277.670  293.95

In [13]:
clean_tweets = tweets_table[["Tweet","Compound Score","Positive Score","Negative Score","Neutral Score","date"]]

In [14]:
clean_tweets.shape
clean_tweets.drop(clean_tweets.index[129:200],inplace=True)
clean_tweets

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,Tweet,Compound Score,Positive Score,Negative Score,Neutral Score,date
0,RT @Tesla: 4/Mobile app: start software update...,0.0000,0.000,0.000,1.000,10/05/2018
1,RT @Tesla: 3/ New apps: there is now a web bro...,0.2732,0.110,0.000,0.890,10/05/2018
2,RT @Tesla: 2/ Dashcam: record and store video ...,0.0000,0.000,0.000,1.000,10/05/2018
3,@martyeuler @MebFaber Fair point ðŸ˜€,0.5859,0.545,0.000,0.455,10/05/2018
4,@MebFaber When something sounds too good to be...,0.7906,0.311,0.045,0.644,10/05/2018
5,"@MebFaber Not all. However, shorting applied t...",-0.8268,0.000,0.299,0.701,10/05/2018
6,@Model3Owners V9 moving to wide release now. H...,0.0000,0.000,0.000,1.000,10/05/2018
7,@mgerrydoyle Only if theyâ€™re extremely tiny,0.0000,0.000,0.000,1.000,10/05/2018
8,@megnsander We donâ€™t judge. Any pic you want!,0.1511,0.185,0.000,0.815,10/05/2018
9,Tesla owners can refer someone to buy a Tesla ...,0.0772,0.053,0.000,0.947,10/05/2018
10,@eugenegu Rococo Basilisk is,0.0000,0.000,0.000,1.000,10/05/2018
11,First Falcon 9 land landing mission from Vande...,0.0000,0.000,0.000,1.000,10/05/2018
12,RT @Tesla: How the world's biggest lithium-ion...,0.0000,0.000,0.000,1.000,10/05/2018
13,@annerajb @KishavanBhola @enn_nafnlaus @ElonBa...,-0.4166,0.104,0.175,0.721,10/05/2018
14,@annerajb @KishavanBhola @enn_nafnlaus @ElonBa...,-0.6597,0.000,0.265,0.735,10/05/2018
15,@dlauer @KishavanBhola @enn_nafnlaus @ElonBach...,0.4215,0.167,0.000,0.833,10/05/2018
16,@KishavanBhola @enn_nafnlaus @ElonBachman Wher...,0.2023,0.101,0.000,0.899,10/05/2018
17,@KishavanBhola @enn_nafnlaus @ElonBachman Ther...,-0.2960,0.000,0.115,0.885,10/05/2018
18,@Erdayastronaut I hope to be less wrong over time,0.0240,0.248,0.240,0.513,10/05/2018
19,@FlintSchools @MuskFoundation Youâ€™re most welc...,0.8573,0.462,0.000,0.538,10/05/2018
20,What they do should be illegal,-0.5574,0.000,0.419,0.581,10/04/2018
21,The last several years have taught me that the...,0.0000,0.000,0.000,1.000,10/04/2018
22,@nairbv The opposite is true,0.4215,0.412,0.000,0.588,10/04/2018
23,@FCalciu @derekGUMB @Scobleizer @Tesla @SEC_En...,-0.4215,0.232,0.314,0.455,10/04/2018
24,RT @jaredmecham: I'm a little obsessed. I've n...,0.3299,0.136,0.124,0.740,10/04/2018
25,RT @TommyIgoe: Iâ€™ll never buy a gas car again....,0.3612,0.102,0.000,0.898,10/04/2018
26,"By revenue, taking publicly available selling ...",0.0000,0.000,0.000,1.000,10/04/2018
27,@dailystem @LFlemingEDU @atkauffman @JustinAgl...,0.0000,0.000,0.000,1.000,10/04/2018
28,@Model3Owners Almost ready. We expanded the ea...,0.2975,0.128,0.000,0.872,10/04/2018
29,People sometimes forget that a company is just...,-0.2263,0.000,0.091,0.909,10/04/2018
...,...,...,...,...,...,...
99,RT @yousuck2020: Another serious shot w @elonm...,-0.0772,0.000,0.178,0.822,09/18/2018
100,@Oatmeal ðŸ˜€,0.3612,0.556,0.000,0.444,09/18/2018
101,@JamesMarstersOf @bioshock Always,0.0000,0.000,0.000,1.000,09/18/2018
102,@sleepingromi @yousuck2020 @rogerwaters @Space...,0.4019,0.351,0.000,0.649,09/18/2018
103,@yousuck2020 @SpaceX Thatâ€™s the first BFR airf...,0.0000,0.000,0.000,1.000,09/18/2018
104,@MKBHD Yeah â€¦ thatâ€™s exactly how I feel. Howev...,0.6249,0.317,0.000,0.683,09/18/2018
105,"RT @yousuck2020: I choose to go to the moon, w...",0.0000,0.000,0.000,1.000,09/18/2018
106,@yousuck2020 Thanks for helping fund a rocket ...,0.6588,0.310,0.000,0.690,09/18/2018
107,Hanging out with @yousuck2020 before the @Spac...,0.0000,0.000,0.000,1.000,09/18/2018
108,Yusaku will be bringing 8 (brave) artists &amp...,0.0000,0.000,0.000,1.000,09/18/2018
109,@martinengwicht @iamacloudguy @Model3Owners Pr...,0.0000,0.000,0.000,1.000,09/17/2018
110,"@DMC_Ryan @iamacloudguy @Model3Owners Yes, alb...",0.6808,0.384,0.000,0.616,09/17/2018
111,@iamacloudguy @Model3Owners Good news on this ...,0.4404,0.121,0.000,0.879,09/17/2018
112,Thank you for your trust in the @SpaceX team. ...,0.8553,0.511,0.000,0.489,09/17/2018
113,@cleantechnica Will be interesting to see how ...,0.4019,0.213,0.000,0.787,09/17/2018
114,@NigelKBaker Will see what we can do. Really n...,0.3182,0.095,0.000,0.905,09/17/2018
115,@martinengwicht Very interesting,0.4576,0.599,0.000,0.401,09/17/2018
116,Due to some Tesla owners encountering system i...,0.5106,0.163,0.000,0.837,09/17/2018
117,@beardyman This is definitely worth thoughtful...,0.9136,0.555,0.000,0.445,09/17/2018
118,"@LanceUlanoff @SpaceX @NASA Yes, I do",0.4019,0.403,0.000,0.597,09/17/2018
119,Top SpaceX priority is and will remain support...,0.7269,0.372,0.000,0.628,09/17/2018
120,"Btw, canâ€™t emphasize enough how @SpaceX would ...",-0.2755,0.000,0.117,0.883,09/17/2018
121,@ConorMcDPhoto With lasers,0.0000,0.000,0.000,1.000,09/17/2018
122,@SpaceX My fav tweet ever,0.4588,0.429,0.000,0.571,09/17/2018
123,@ummjackson if you can help get rid of the ann...,-0.4588,0.222,0.333,0.444,09/17/2018
124,@AntVenom Ok,0.2960,0.688,0.000,0.312,09/17/2018
125,@SwiftOnSecurity Maybe the scammers will just ...,0.1280,0.222,0.190,0.588,09/17/2018
126,@FalconGridFin Good catch. They are there in t...,0.2382,0.098,0.000,0.902,09/17/2018
127,#OccupyMars,0.0000,0.000,0.000,1.000,09/17/2018
128,@vicentes Forward moving wing,0.0000,0.000,0.000,1.000,09/17/2018

In [15]:
#final_df = pd.merge(clean_tsla,clean_tweets,how ="outer", on="date")

print(clean_tsla['close'].dtype)

float64

In [16]:
print(clean_tweets['Tweet'].dtype)

object

In [17]:
print(clean_tweets['Compound Score'].dtype)

float64

In [18]:
#clean_tsla['close'] = clean_tsla['close'].astype(str)

close_value = clean_tsla["close"].astype(str)

In [19]:
#clean_tweets['Tweet'] = clean_tweets['Tweet'].astype(str)

twitter_tweets = clean_tweets["Tweet"].astype(str)

In [20]:
compound = clean_tweets['Compound Score']

In [21]:
stock_dates = clean_tsla["date"]

In [22]:
open_value = clean_tsla["open"]

In [23]:
tsla_dict = {"close_value": close_value,
             "date": stock_dates,
             "Open Value": open_value
            }

In [24]:
tsla_df = pd.DataFrame(tsla_dict)

In [25]:
tsla_df.head()

  close_value        date  Open Value
0      286.94  2018-04-04      252.78
1      305.72  2018-04-05      289.34
2       299.3  2018-04-06      301.00
3      289.66  2018-04-09      300.37
4       304.7  2018-04-10      298.97

In [26]:
# Data frame for tweets

elon_tweets = clean_tweets["Tweet"]

In [27]:
compound_score = clean_tweets["Compound Score"]

In [28]:
elon_date = clean_tweets["date"]

In [29]:
tweet_dict = {"Tweet": elon_tweets,
             "Compound Score": compound_score,
             "date": elon_date
            }

In [30]:
tweet_df = pd.DataFrame(tweet_dict)

In [31]:
tweet_df.head()

,Tweet,Compound Score,date
0,RT @Tesla: 4/Mobile app: start software update...,0.0000,10/05/2018
1,RT @Tesla: 3/ New apps: there is now a web bro...,0.2732,10/05/2018
2,RT @Tesla: 2/ Dashcam: record and store video ...,0.0000,10/05/2018
3,@martyeuler @MebFaber Fair point ðŸ˜€,0.5859,10/05/2018
4,@MebFaber When something sounds too good to be...,0.7906,10/05/2018